.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 37px;
}

.header_nav ul {
    display: flex;
}

.header_title {
    width: 135px;
    height: 25.83px;
}
.header_end {
    display: flex;
    align-items: center;
}

.header_nav-item {
    font-family: 'Rubik';
    margin-right: 40px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    font-family: 'Rubik';
    color: #FFFFFF;
}

.header_contact{
    border: none;     
}