.hero {
    background-image: url("/assets/Bitmap.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 571px;
    /* width: 1000; */
    
}

.hero_inner {
    display: flex;
    margin-top: 115px;
    height: 183px;
}

.hero_left {
    width: 440px;
    /* height: 183px; */
}

.hero_left_title {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    /* height: 19px;
    width: 184px; */
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.hero_left_text {
    margin-top: 12px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 38px;
    /* width:440px;
    height: 152px; */
    color: #FFFFFF;
}

.hero_right {
    display: flex;
    align-items: center;
    width: 368px;
    height: 183px;
}

.oval {
    background: #FFFFFF;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-left: 132px;
}

.triangle {
    width: 5px;
    height: 7px;
    margin-top: 7px;
    margin-left: 13px;
}

.hero_right_title {
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    margin-left: 10px;
    color: #FFFFFF;
}