.main_container {
  min-height: 566px;
  width: 1050px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.inner {
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
}

.leftDiv {
  width: 500px;
  height: 300px;
}

.leftDiv img {
  width: 500px;
  height: 300px;
  border: 5px solid #444;
  border-radius: 5em;
  background-size: cover;
}

.rightDiv {
  width: 500px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.title p {
  margin-top: 0px;
  color: rgb(52, 49, 49);
  font-size: 30px;
}

.stars_div_item {
  display: flex;
  width: 40%;
  align-content: flex-start;
  margin: 0;
  margin-top: 20px;
}

.stars_images_item {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.bottom {
  display: flex;
  height: 276px;
}
.price {
  width: 70%;
}

.price p {
  margin-top: 230px;
  font-size: 22px;
  color: rgb(34, 33, 33);
}
.buttons {
  width: 30%;
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
}

.buttons button {
  margin-top: 230px;
  width: 140px;
  border-radius: 8px;
  height: 35px;
  cursor: pointer;
  border: 1px solid;
  text-align: center;
  box-shadow: inset 0 0 0 1px #bec0c1;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: 0.3s;
}

.buttons button:hover {
  color: #fff;
  background-color: #525353;
}

.buttons button:hover p {
  color: #fff;
}
