.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 37px;
    margin: 0 auto;
}

.header_nav ul {
    display: flex;
}

.header_title {
    width: 135px;
    height: 25.83px;
}
.header_end {
    display: flex;
    align-items: center;
}

.header_nav-item {
    font-family: 'Rubik';
    margin-right: 40px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    font-family: 'Rubik';
    color: #FFFFFF;
}

.header_contact{
    border: none;   
    transition: 0.3s;  
}

.header_contact:hover {
    background-color:#222F33;
    color: #FFFFFF;
}

@media screen and (min-device-width: 730px) and (max-width: 860px) {
    .header {
        overflow: hidden;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        z-index: 10;
    }

    .header_nav-item  {
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
    }
}

@media screen and (min-device-width: 550px) and (max-width: 730px) {
    .header_nav-item  {
        margin-right: 20px; 
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
    }
}

@media screen and (min-device-width: 230px) and (max-width: 550px) {
    .header{
        display: none;
        position: fixed;
        padding-top: 20px;
        background-color: #222F33;
        width: 100%;
        margin: 0 auto;
    }
    
    .header_nav-item  {
        margin-right: 20px; 
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
    }
}




