/* For 4K screen dimensions ( 3860 - 2160 ) */


@media screen and (min-device-width: 3830px) and (max-width: 4100px) {


    /* global */


    button {
        border-radius: 12px;
        border-width: 3px;
        width: 270px;  
        height: 102px;
        font-weight: 1500;
        font-size: 36px;
        line-height: 42px;
        
    }
    
    .container {
        margin: 0 auto;
        max-width: 2400px;
    }


    /* header */


    .header {
        padding-top: 111px;
    }

    .header_title {
        width: 405px;
        height: 77.5px;
    }

    #header_title_logo {
        width: 405px;
        height: auto;
    }

    .header_nav-item {
        margin-right: 120px;
        font-weight: 1550;
        font-size: 38px;
        line-height: 42px;
    }


    /* hero section*/


    .hero {    
        background-size: 2975px 1700px;
        height: 1700px;
        width: 100%;
    }

    .hero_inner {
        padding-top: 345px;
        height: 549px;
    }

    .hero_left {
        width: 1320px;
    }
    
    .hero_left_title {
        font-weight: 1500;
        font-size: 48px;
        line-height: 57px;
    }
    
    .hero_left_text {
        margin-top: 36px;
        font-weight: 2700;
        font-size: 90px;
        line-height: 114px;
    }
    
    .hero_right {
        height: 549px;
    }
    
    .oval {
        background: #FFFFFF;
        box-shadow: 0px 6px 60px rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        width: 96px;
        height: 96px;
        margin-left: 396px;
    }
        
    .hero_right_title {
        font-weight: 1500;
        font-size: 38px;
        line-height: 43px;
        margin-left: 30px;
    }

    #triangle {
        width: 20px;
        height: 25px;
        margin-top: 30px;
        margin-left: 30px;
    }


    /* second section */


    .second {
        height: 1200px;
    }
        
    .second_left {
        height: 900px;
        width: 1200px;
        margin-top: 168px;
    }
    
    .second_title {
        font-weight: 2700;
        height: 114px;
        width: 816px;
        font-size: 90px;
        line-height: 114px;
    }
    
    .second_text {
        font-weight: 1200;
        height: 468px;
        font-size: 42px;
        line-height: 78px;
        width: 1200px;
        margin-top: 30px;
    }
    
    .second_button {
        border: 3px solid #646D70;
        border-radius: 12px;
        margin-top: 123px;
    }
    
    .second_button:hover {
        border-width: 0px;
    }
    
    .second_right {
        height: 1200px;
        width: 600px;
    }
    
    .second_picture {
        margin-left: 180px;
        height: 1200px;
        width: auto;
    }


    /* third section */


    .third {
        height: 939px;
    }
        
    .third_right {
        margin-left: 129px;
    }
    
    .third_title {
        font-weight: 2700;
        font-size: 90px;
        line-height: 114px;
        margin-top: 198px;
    }
    
    .third_left_text {
        font-weight: 1200;
        font-size: 42px;
        line-height: 72px;
        margin-top: 33px;
    }
    
    .third_right_text {
        font-weight: 1200;
        font-size: 42px;
        line-height: 72px;
        margin-top: 345px;
    }


    /* fourth section */


    .fourth {
        height: 1596px;
    }
    
    .fourth_left {
        margin-top: 255px;
    }
    
    .fourth_right {
        margin-top: 255px;
    }
    
    .fourth_text_one {
        margin-left: 270px;
    }
    
    .fourth_text_two {
        margin-left: 180px;
    }
    
    .fourth_title {
        font-weight: 2700;
        font-size: 54px;
        line-height: 69px;;
        margin-bottom: 12px;
    }
    
    .fourth_text {
        font-weight: 1200;
        font-size: 36px;
        line-height: 66px;
        width: 465px;
        height: 198px;
        margin-bottom: 126px;
    }

    #fourth_img {
        width: 1065px;
        height: auto;
    }


    /* footer section */


    .footer {
        height: 276px;
    }
    
    .footer_container {
        height: 276px;
    }
    
    .footer_inner{
        height: 276px;
    }
    
    .footer_text {
        font-weight: 1500;
        font-size: 36px;
        line-height: 42px;
    }
    
    .footer li {
        font-weight: 1500;
        font-size: 36px;
        line-height: 42px;
        margin-left: 90px;
    }

    #footer_logo {
        width: 405px;
        height: auto;
    }
}


